@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Montserrat', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


ul,li{
    list-style: none;
}
.navbar-list{
    display: flex;
    width: 150px;
    justify-content: space-between;
}
.found{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.found h2{
    margin-top: 20px;
    color: red;
    font-size: 35px;
}
